version: 2.1

jobs:
  test:
    docker:
      - image: cimg/node:20.11
    steps:
      - checkout
      - run:
          name: Install dependencies
          command: npm ci
      - run:
          name: Install Playwright browsers
          command: npx playwright install --with-deps
      - run:
          name: Run Playwright tests
          command: npm run test
      - store_artifacts:
          path: playwright-report
      - store_test_results:
          path: test-results
workflows:
  version: 2
  test_only:
    jobs:
      - test
